<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
{% if category %}
    <hb1>{{ category_name }}</hb1>
    {% if pages %}
        <ul>
            {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>No pages current in category.</strong>
    {% endif %}
    <a href=add_page/>Add Page</a>
{% else %}
    {{ error }}
    <br>
{% endif %}
<a href=/rango>Index</a>


</body>
</html>